{% extends "base.html" %}

{% block title %} Load Documents {% endblock %}

{% block content %} 

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% for documents in documents %}
        <div class="col-lg-12 mb-4 mb-sm-5">
            <div class="card card-style1 border-0">
                <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                    <h3>File title: {{ documents['title'] }}</h3>
                    <p>Name: {{ documents['filename'] }}$</p>
                    <p>Author: {{ documents['author'] }} </p>
                    <p>Time upload: {{documents['time'] }}</p>
                    <p>SHA256 checksum: {{documents['hash'] }}</p>
                    <a target="_blank" class="fcc-btn" href="{{ url_for('secure_blueprint.download',filename = documents['filename']) + '.pdf' }}">Download</a>  
                </div>
            </div>
        </div>
    {% endfor %}

{% endwith %}

{% endblock %}