{% extends "base.html" %}

{% block title %} Profile {% endblock %}

{% block content %}
<br/>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-4 mb-sm-5">
                <div class="card card-style1 border-0">
                    <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                        <h3 class="h2 mb-4">Your Details</h3>
                        <div class="row align-items-center">
                            <div class="col-lg-6 mb-4 mb-lg-0">
                                <img src="/static/image/default.png" alt="avatar">
                            </div>
                            <div class="col-lg-6 px-xl-10">
                                <div class="bg-secondary d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded">
                                    <h3 class="h2 text-white mb-0">{{ session.user_name }}</h3>
                                    <span class="text-primary">{{ title }}</span>
                                </div>
                                <ul class="list-unstyled mb-1-9">
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Full name:</span> {{ full_name }} </li>
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Role:</span> {{ role }} </li>
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Email:</span> {{ user_email }}</li>
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Organization type:</span> {{ organization_type }} </li>
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Organization:</span> {{ organization }} </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 mb-4 mb-sm-5">
                <div class="card card-style1 border-0">
                    <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                        <h3 class="h2 mb-4">Edit Profile</h3>

                        <form class="form-profile" action="/profile" method="POST">
                            <label for="email" class="sr-only">Email</label>
                            <input type="email" name="email" id="email" class="form-control" placeholder="Your email">
                            
                            <label for="fullname" class="sr-only">Full name</label>
                            <input type="name" name="fullname" id="fullname" class="form-control" placeholder="Your full name">
                            
                            <select name="organize_type" class="form-select form-control" aria-label="Your type of organization">
                                <option value="Unknown" selected>Select your organization type</option>
                                <option value="Business">Business</option>
                                <option value="Goverment">Goverment</option>
                                <option value="Other">Other</option>
                            </select>

                            <label for="organize" class="sr-only">Organization</label>
                            <input type="name" name="organize" id="organize" class="form-control" placeholder="Name of your organization"> 
                            
                            <select name="role" class="form-select form-control" aria-label="Select your role">
                                <option value="Unknown" selected>Select your role</option>
                                <option value="Legal Assistant">Legal Assistant</option>
                                <option value="Property Manager">Property Manager</option>
                                <option value="Financial Experts">Financial Experts</option>
                                <option value="Real Estate Brokers">Real Estate Brokers</option>
                                <option value="Architecture">Architecture</option>
                                <option value="Chairman">Chairman</option>
                                <option value="Director Of Resources">Director Of Resources</option>
                            </select>

                            <label for="inputPassword" class="sr-only">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required><br/>
                            <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" onclick = 'this.form.submit();' type="button">Change</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}